

    
    
    
    .button_1 {
        transition: 0.3s all;
        backface-visibility: hidden;
      position: relative;
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      border-radius: 4px;
      padding: 10px 20px 10px 20px;
      font-size: initial;
      font-family: Arial;
      font-weight: bold;
      font-style: normal;
      background-color:#28425f;
      border: 0px solid #5ccd7c;
      color:#5ccd7c;
      border-width: 0px 0px 4px 0px;
      user-select:none;
      }
      .button_1 > div {
        color: #999;
      font-size: 10px;
      font-family: Helvetica Neue;
      font-weight: initial;
      font-style: normal;
      text-align: center;
      margin: 0px 0px 0px 0px;
      }
      .button_1 > i {
        font-size: 1em;
      border-radius: 0px;
      border: 0px solid transparent;
      border-width: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      position: static
      }
    .button_1:hover{
      background-color:#5ccd7c;
      color:#28425f;
      border: 0px solid #28425f;
      border-width: 0px 0px 4px 0px;
    }


    .button_2 {
        transition: 0.3s all;
        backface-visibility: hidden;
      position: relative;
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      border-radius: 4px;
      padding: 10px 20px 10px 20px;
      font-size: initial;
      font-family: Arial;
      font-weight: bold;
      font-style: normal;
      background-color:#28425f;
      border: 0px solid indianred;
      color:indianred;
      border-width: 0px 0px 4px 0px;
      }
      .button_2 > div {
        color: #999;
      font-size: 10px;
      font-family: Helvetica Neue;
      font-weight: initial;
      font-style: normal;
      text-align: center;
      margin: 0px 0px 0px 0px;
      }
      .button_2 > i {
        font-size: 1em;
      border-radius: 0px;
      border: 0px solid transparent;
      border-width: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      position: static
      }
    .button_2:hover{
      background-color:indianred;
      color:#28425f;
      border: 0px solid #28425f;
      border-width: 0px 0px 4px 0px;
    }

    .textarea_1 {
        transition: 0.1s all;
        backface-visibility: hidden;
        cursor: pointer;
        padding: 10px 20px 10px 20px;
        font-size: initial;
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        text-align:center;
        word-wrap:break-word;
      }

    @media (max-width : 800px){ /*from 0 to 600 px max height applies x3pro=394px*/
        .textinput_1 {
            width:80%;
            padding:20px;
            background-color:#28425f;
            border: 0px solid #5ccd7c;
            color:#5ccd7c;
            border-width: 2px;
            border-radius:5px;
            text-align:center;
            font-size: 30px;
            word-wrap: break-word;
            display: inline-block;
            position: absolute;
        }
    }
    @media screen and (min-width: 800px) {
        .textinput_1 {
            height:60px;
            width:800px;
            background-color:#28425f;
            border: 0px solid #5ccd7c;
            color:#5ccd7c;
            border-width: 2px;
            border-radius:5px;
            min-height: 10em;
            text-align:center;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .textarea_1_a:hover{
      background-color:#5ccd7c;
      color:#28425f;
      border: 0px solid #28425f;
      border-width: 2px;
    }


    .navidiv{
        height:76px;
        width:100%;
        display:block;
        background-color:#3F72AF;
        background-color:#2b4d77;
        margin:0px;
    }
    .navibuttondivnew{
        border:2px solid #112D4E;
        border-radius: 10px;
        margin: 10px;
        display:inline-block;
        align-items: center;
        height:50px;
        /*width:100px;*/
        color:#112D4E;
        background-color: #DBE2EF;
		font-family: "Georgia", serif;
        transition: 0.5s all;
		font-size: 25px;
        cursor:pointer;
        float:center;
    }
    .navibuttondivnew:hover{
        color:#DBE2EF;
        background-color: #112D4E;
    }
    .navibuttonlabeldivnew{
        display:inline-block;
        height:25px;
        margin-left:13px;
        margin-right:16px;
        margin-top:10.5px;
        margin-bottom:14.5px;
        cursor:pointer;
    }
    .navibuttondivtitle{
        border:2px solid #5ccd7c;
        border-radius: 10px;
        margin: 10px;
        display:inline-block;
        align-items: center;
        height:50px;
        /*width:100px;*/
        color:#DBE2EF;
        background-color: #112D4E;
		font-family: "Georgia", serif;
        transition: 0.5s all;
		font-size: 25px;
        cursor:pointer;
    }
    .navibuttondivtitle:hover{
        color:#112D4E;
        background-color: #5ccd7c;
    }
    .navibuttonlabeldivtitle{
        display:inline-block;
        height:25px;
        margin-left:13px;
        margin-right:16px;
        margin-top:12.5px;
        margin-bottom:14.5px;
        cursor:pointer;
    }
    .navibuttondivsignout{
        border:2px solid indianred;
        border-radius: 10px;
        margin: 10px;
        display:inline-block;
        align-items: center;
        height:50px;
        /*width:100px;*/
        color:#DBE2EF;
        background-color: #112D4E;
		font-family: "Georgia", serif;
        transition: 0.5s all;
		font-size: 25px;
        cursor:pointer;
        float:right;
    }
    .navibuttondivsignout:hover{
        color:#112D4E;
        background-color: indianred;
    }
    .navibuttonlabeldivsignout{
        display:inline-block;
        height:25px;
        margin-left:14px;
        margin-right:15px;
        margin-top:13px;
        margin-bottom:12px;
        cursor:pointer;
    }

    .formsubmitbutton{
        outline:none;
background-color:#112D4E;
border:2.5px solid #112D4E;
border-radius: 5px;
color: #EEEEEE;
transition: 0.5s all;
height:30px;
font-size:18px;
cursor:pointer;
width:100%;
transition: 0.5s all;
    }
    .formsubmitbutton:hover{
background-color:#EEEEEE;
border:2.5px solid #5ccd7c;
color: #112D4E;
    }
.contentdiv{
    /*height:100%;*/
    display:block;
    width:96%;
    padding-left:2%;
    padding-right:2%;
    word-wrap: break-word;
    cursor:default;
    padding-bottom:150px;
}

.contentspan{
    border-radius: 5px;
    border:2px solid #112D4E;
    transition: 0.45s all;
    padding-left: 10px;
    padding-right: 10px;
}
.contentspan:hover{
    border:2px solid #5ccd7c;
}
.contentspan h1{
    margin-top:10px;
    color: #112D4E;
	font-family: "Georgia", serif;
    transition: 0.5s all;
}
.contentspan h2{
    color: #112D4E;
	font-family: "Georgia", serif;
    transition: 0.5s all;
}
.contentspan h2:hover{
    color: #5ccd7c;
}
#closeicon:hover{
    cursor:pointer;
    color:indianred;
}
.usercountdivleft{
    margin-left:4.5%;
    display:block;
    width:44%;
    border:2.5px solid #3F72AF;
    background-color:#DBE2EF;
    border-radius: 10px;
    transition: 0.7s all;
    /*margin-right:30px;*/
    font-family: "Arial Black", Gadget, sans-serif;
    font-variant: small-caps;
    color: #3F72AF;
    float:left;
}
.usercountdivleft:hover{
    border:2.5px solid #3F72AF;
    background-color:#3F72AF;
    color: #DBE2EF;
    cursor:pointer;
}
.usercountdivleft h1{
    display:inline-block;
    height:30px;
    font-size:30px;
    margin-top:15px;
    margin-bottom:30px;
    margin-left:18px;
    margin-right:18px;
}
.usercountdivleft h2{
    display:inline-block;
    height:20px;
    font-size:20px;
    margin-top:20px;
    margin-bottom:9px;
    margin-left:18px;
    margin-right:18px;
}
.usercountdivright{
    margin-right:4.5%;
    display:block;
    width:44%;
    border:2.5px solid #3F72AF;
    background-color:#DBE2EF;
    border-radius: 10px;
    transition: 0.7s all;
    /*margin-right:30px;*/
    font-family: "Arial Black", Gadget, sans-serif;
    font-variant: small-caps;
    color: #3F72AF;
    float:right;
}
.usercountdivright:hover{
    border:2.5px solid #3F72AF;
    background-color:#3F72AF;
    color: #DBE2EF;
    cursor:pointer;
}
.usercountdivright h1{
    display:inline-block;
    height:30px;
    font-size:30px;
    margin-top:15px;
    margin-bottom:30px;
    margin-left:18px;
    margin-right:18px;
}
.usercountdivright h2{
    display:inline-block;
    height:20px;
    font-size:20px;
    margin-top:20px;
    margin-bottom:9px;
    margin-left:18px;
    margin-right:18px;
}
